{% extends 'layouts/main.html' %}
{% block content %}
    <style type="text/css">
        .space {
            padding: 25px; /* Поля */
            background: #E5D3BD; /* Цвет фона */
            border: 50px solid #E81E25; /* Параметры рамки */
        }
    </style>
    <div class="space">
        <img src="/media/{{ product.image }}/" width="120" height="120" alt="product"></img>
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <p>Цена: {{ product.price }}c</p>
        <p>Количество: {{ product.amount }}шт</p>
        <hr>
        <div class="create_comment">
            <form action="/product/{{ product.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class=" btn btn-primary" value="Оставить комментарий">
            </form>
        </div>
        <h3>Comments</h3>
        {% for comment in comments %}
            <div class="comment">
                <p>Author: {{ comment.author.username }}</p>
                <p>Text: {{ comment.text }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>

{% endblock %}
