{% extends 'layouts/main.html' %}
{% block content %}
    <h1></h1>
    <style type="text/css">
        .category {
            display: flex;
            justify-content: space-between;
            width: 20%;
        }
        .categories {
            display: block;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
        }
        .category > img {
            width: 40px;
        }
    </style>
    <div class="categories">
        {% for category in categories %}
            <div class="category">
                <img src="/media/{{ category.icon }}">
                <h3>
                    <a href="/product/?category_id={{ category.id }}">
                        {{ category.title }}
                    </a>
                </h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
