<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ product_detail }}</title>
        <style type="text/css">
   .space {
    padding: 25px; /* Поля */
    background: #E5D3BD; /* Цвет фона */
    border: 50px solid #E81E25; /* Параметры рамки */
   }
  </style>
</head>
<body>
<div class="space">
    <img src="{{ product_detail.image }}" alt="product"></img>
    <h3>{{ product_detail.title }}</h3>
    <p>{{ product_detail.description }}</p>
    <p>Цена: {{ product_detail.price }}c</p>
    <p>{{ product_detail.amount }}</p>
    <p>{{ product_detail.categories }}</p>
</div>
</body>
</html>